[Unit]
Description=Jupyterhub

[Service]
WorkingDirectory=</path/to/config>
ExecStart=/bin/bash run.sh
Restart=always
RestartSec=10
User=<user>
Group=<group>

[Install]
WantedBy=multi-user.target
