[Unit]
Description=Jupyterhub

[Service]
WorkingDirectory=/home/cloud/jupyterhub/dockerspawner/jupyterdir/oauth/
ExecStart=/bin/bash run.sh
Restart=always
RestartSec=10
User=cloud
Group=cloud

[Install]
WantedBy=multi-user.target
